@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Gilda+Display&family=Palanquin:wght@400;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
    --bg: rgb(68, 48, 48);
    --dark: rgb(163, 66, 60);
    --light: rgb(231, 227, 238);
    --light-75: rgba(231, 227, 238, 0.75);
    --grad-1: rgb(163, 66, 60);
    --grad-2: rgb(222, 131, 77);
    --grad-3: rgba(240, 210, 144, 1);
    --drop-shadow: rgba(68, 48, 48, 0.7);
    --grad-3-75: rgba(240, 210, 144, 0.25);
    --bg-75: rgba(68, 48, 48,.75);
    --dark-75: rgba(163, 66, 60,0.75);
    --lg: 2.5em;
    --md: 1.25em;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Palanquin', sans-serif;
  background-color: var(--bg);
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: var(--dark);
}

.card {
  background-color:var(--grad-2);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: var(--drop-shadow) 0px 2px 8px 0px;
  color: var(--dark);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
  background: var(--grad-3);
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
  background: var(--grad-3);
  height: 2px;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  border: none;
  background-color: var(--grad-1);
  border-radius: 25px;
  box-shadow: var(--drop-shadow) 0px 1px 6px 0px var(--drop-shadow) 0px 1px 1px
    0px;
  color: var(--light);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: var(--bg-75);
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 2px dashed var(--grad-3-75);
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

#password::placeholder {
  color: var(--light);
}
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}
